body, html {
    height: 100%;
}

#topnavbar	{
	background-color: #4c8930;
	min-height: 60px;
}

#topnavbar a	{
	color: #fff;
}

#css-override .fa-bars {
	color: #fff;
	width: 35px;
	height: 35px;
}

#css-override #topnavbar .dropdown	{
	background-color: #fff;
	border-radius: 5px;
}

#css-override .dropdown a	{
	color: black;
}

.logonavbar	{
	min-height: 120px;
}

.jumbotron	{
	background-image: url(../img/jumbotron.png);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    height: 50%;
}

#css-override #jumbotronContent	{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#css-override #jumbotronContent */h1	{
	font-size: 2.5rem;
	font-weight: 300;
	padding:0 0 10px 0;
}

.jumbotron button	{
	background-color: #4c8930;
	color: #fff;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.imagecontainer	{
	padding: 5px;
}

#imagebanners{
	margin-bottom: 30px;
}

.bannerimage	{
	height: 220px;
	border-radius: 5px;
	background-repeat: no-repeat;
    background-size: cover;
}

.bannerimage h5 {
	text-align: center;
	color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row	{
	margin-right: 0;
	margin-left: 0;
}

#bannerimage1	{
	background-image: url(../img/imagebanner1.png);
}
#bannerimage2	{
	background-image: url(../img/imagebanner2.png);
}
#bannerimage3	{
	background-image: url(../img/imagebanner3.png);
}

#css-override #cin-container	{
	max-width: 750px;
}

.cin-image	{
	float: left;
	margin: 20px;
}

.cin-image img	{
	width: 40px;
	height: 40px;
}

.cin-text	{
	display: inline-block;
	line-height: 5%;
	text-align: center;
}

.cin-text p {
	font-weight: 600;
}

.cin-cell	{
	width: 200px;
	margin: auto;
}
